{
    "CN": "kube-etcd-healthcheck-client",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [{
        "C": "{{ country }}",
        "L": "{{ city }}",
        "O": "kube-etcd-healthcheck-client",
        "OU": "{{ organizationUnit }}",
        "ST": "{{ province }}"
    }]
}
